@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.nav-bar{
  display: grid;
  flex-direction: row;
  background-color: #fff;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  color: black;
  height: 80px;
  justify-content: start;
}

.logo{
  margin: 10px;
  color: #2429AF;
}

.nav-list{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-items{
  font-weight: normal;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-items:hover{
  font-weight: bold;
  color: #2429AF;
}

.display-01{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.displayOne-content h3{
  color: black;
}

.displayOne-content .date{
  color: black;
  margin-top: -15px;
}

.displayOne-content .content{
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.displayOne-content .copy-right{
  color: #2429AF;
  font-weight: bold;
}

.display-02{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding-top: 50px;
  color: black;
  padding: 5%;
  grid-gap: 20px;
}


.displayTwo-content{
  margin: auto;
}

.displayTwo-content h3{
  color: black;
}

.displayTwo-content .date{
  color: black;
  margin-top: -15px;
}

.displayTwo-content .content{
  color: black;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.displayTwo-content .copy-right{
  color: #2429AF;
  font-weight: bold;
}